.block-contacts {
	padding-top: calc($index * .3);
	max-width: calc($index * 32);
	margin: 0 auto;
	// .block-contacts__row

	&__row {
		display: grid;
		grid-template-columns: calc($index * 16) 1fr;
		gap: calc($index * 1.33);
	}

	// .block-contacts__map

	&__map {
		max-height: calc($index * 22);
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .block-contacts__form

	&__form {
	//	margin-bottom: calc($index * 1.46);
	}
	.page-title {
	}
}
.contacts-form {
	form > * {
		&:not(:last-child) {
			margin-bottom: calc($index * 0.66);
		}
	}
	input,
	textarea {
		display: block;
		width: 100%;
		border: 1px solid rgba($white, 0.05);
		background-color: $black;
		padding: calc($index * 0.46) calc($index * 0.63);
		font-weight: 500;
		font-size: calc($index * 0.53);
		line-height: 1.2;
		color: rgba($white, 0.2);
		&:focus,
		&:required {
			color: rgba($white, 0.9);
		}
	}

	textarea {
		min-height: calc($index * 8);
	}
	

	// .contacts-form__title

	&__title {
		font-weight: 300;
		font-size: calc($index * .6);
		line-height: 1.3;
		color: rgba($white, 0.75);
		margin-bottom: calc($index * 0.83);
		& > * {
			margin: 0;
		}
	}

	form {
		margin-bottom: calc($index * 1.8);
	}

	&__button {
		padding: calc($index * 0.5) calc($index * 2.23) !important;
	}

	// .contacts-form__info

	&__info {

	}
}

.form-info {
	font-weight: 300;
	font-size: calc($index * .6);
	line-height: 1.3;
	color: rgba($white, 0.75);
	& > * {
		display: flex;
		align-items: center;
		margin-bottom: calc($index * .4);
	}
	& > *::before {
		content: '';
		display: block;
		width: calc($index * 1.23);
		height: calc($index * 1.23);
		border: 1px solid rgba($white, 0.05);
		margin-right: calc($index * .4);
		background-position: center center;
		background-repeat: no-repeat;
		opacity: .75;		
	}

	// .form-info__address

	&__address {
		&::before {
			background-size: calc($index * .46);
			background-image: url(../images/dist/icons/address.svg);
		}
	}

	// .form-info__tel

	&__tel {
		font-family: noto-sans-tm;
		&::before {
			background-size: calc($index * .66);
			background-image: url(../images/dist/icons/phone.svg);
		}
	}
}
