.header {
	position: relative;
	background-color: $black;
	padding: calc($index * 0.34);
	display: flex;
	gap: calc($index * 0.34);
	height: 100vh;
	&__left {
		position:absolute;
		top: calc($index * .33 );
		left: -100%;
		bottom: calc($index * .33 );
		max-width: calc($index * 23);
		padding-top: calc($index * 1.6);
		display: flex;
		flex-direction: column;
		gap: calc($index * 0.34);
		overflow-y:auto;
		transition: left .4s ease;
		z-index: 100;
	}

	&__left._active {
		left: 0;
	}

	&__right {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: calc($index * 0.34);
	}
}

.game {
	position: relative;
	width: 100%;
	flex: 1 1 auto;
	padding: calc($index * .7) calc($index * .7);
	&__body {
		position: relative;
		min-height: 100%;
	}
}

.message {
	flex: 0 1 calc($index * 9.66);
}

.header__right-top {
	display: flex;
	gap: calc($index * 0.5);
	align-items: center;
}

.banner {
	flex: 1 1 auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc($index * 1.7);
	overflow: hidden;
	padding: 0;
	margin-right: calc($index * 0.33);
	p {
		font-size: calc($index * 0.67);
		position: absolute;
		width: 100%;
		white-space: nowrap;
		margin: 0;
		opacity: 0.75;
		overflow: hidden;
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 10px;
		top: 0;
		bottom: 0;
		background-color: $grey;
		z-index: 1;
	}
	&::before {
		left: 0;
	}
	&::after {
		right: 0;
	}
}

.page-content {
	// .page-content__container

	&__container {
		max-width: 90%;
		margin: 0 auto;
	}

	// .page-content__title

	&__title {
	}
}

.start-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: calc($index * 0.34);
	// .start-block__title

	// .start-block__logo

	&__logo {
		width: calc($index * 5.7);
		margin-left: auto;
		margin-top: 0;
		margin-right: auto;
		margin-bottom: calc($index * 2.5);
		user-select: none;
		img {
			display: block;
			width: 100%;
		}
	}

	&__title {
		margin-bottom: calc($index * .5);
		h1 {
			font-family: $titlefont;
			font-weight: 100;
			line-height: 1.19;
			text-transform: uppercase;
			text-align: center;
			font-size: calc($index * 3.47);
			margin-bottom: calc($index * 2.5);
		}
		p {
			font-weight: 300;
			font-size: calc($index * 1.07);
			line-height: 1.3;
			text-align: center;
			max-width: calc($index * 20);
			margin: 0 auto;
		}
	}
}

.page-content {
	height: 100%;
	overflow-y: auto;
	// .page-content__container

	&__container {

	}

	// .page-content__title

	&__title {
		color: rgba($white, 0.75);
		margin-bottom: calc($index * 1);
		h2 {
			font-style: normal;
			font-weight: 300;
			font-size: calc($index * 1.067);
			line-height: 1.3;
			text-align: center;
			border-bottom: 1px solid rgba($white, 0.05);
			padding-bottom: calc($index * .5);
		}
		p {
			font-weight: 300;
			font-size: calc($index * .8);
			line-height: 1.3;
			text-align: center;
			max-width: calc($index * 27.3);
			margin: calc($index * .66) auto 0 auto;
		 }
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: calc($index * 0.5);
	overflow: hidden;
	margin-right: calc($index * 2.33);
	margin-left: calc($index * 2.33);
	p {
		font-weight: 400;
		font-size: calc($index * 0.67);
		line-height: 1.1;
		text-align: center;
		margin: 0;
		opacity: 0.75;
	}
}
