*,
html * {
	scrollbar-width: thin;
	scrollbar-color: $button-bg $black;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	height: 12px;
	width: 12px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: $black;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: $button-bg;
	border-radius: 5px;
	border: 3px solid $black;
}

html {
	scrollbar-color: #6969dd #e0e0e0;
	scrollbar-width: thin;
}

.header {
	position: relative;
	background-color: $black;
	padding: calc($index * 0.34);
	display: flex;
	gap: calc($index * 0.34);
	height: 100vh;

	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: calc($index * 0.34);
	}
}

.message {
	flex: 0 1 calc($index * 9.66);
}

.header__top {
	display: flex;
	gap: calc($index * 0.7);
	align-items: center;
}

.banner {
	flex: 1 1 auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc($index * 1.7 * $coaficent-sm);
	overflow: hidden;
	padding: 0;
	p {
		font-size: calc($index * 0.67 * $coaficent-sm);
		position: absolute;
		min-width: 100%;
		white-space: nowrap;
		margin: 0;
		opacity: 0.75;
		overflow: hidden;
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 10px;
		top: 0;
		bottom: 0;
		background-color: $grey;
		z-index: 1;
	}
	&::before {
		left: 0;
	}
	&::after {
		right: 0;
	}
	@include media-breakpoint-up(sm) {
		min-height: calc($index * 1.7 * $coaficent-md);
		p {
			font-size: calc($index * 0.67 * $coaficent-md);
		}
		&::before,
		&::after {
			width: calc($index * 0.33 * $coaficent-md);
		}
	}
	@include media-breakpoint-up(lg) {
		min-height: calc($index * 1.7);
		p {
			font-size: calc($index * 0.67);
		}
		&::before,
		&::after {
			width: calc($index * 0.33);
		}
	}
}

.page-content {
	// .page-content__container

	&__container {
		max-width: 95%;
		margin: 0 auto;
		@include media-breakpoint-up(lg) {
			max-width: 90%;
		}
	}

	// .page-content__title

	&__title {
	}
}

.page-content {
	height: 100%;
	overflow-y: auto;
	// .page-content__container

	&__container {
		min-height: 100%;
	}

	// .page-content__title

	&__title {
		color: rgba($white, 0.75);
		margin-bottom: calc($index * 1 * $coaficent-sm);
		h2 {
			font-style: normal;
			font-weight: 300;
			font-size: calc($index * 1.067 * $coaficent-sm);
			line-height: 1.3;
			text-align: center;
			border-bottom: 1px solid rgba($white, 0.05);
			padding-bottom: calc($index * 0.5 * $coaficent-sm);
		}
		p {
			font-weight: 300;
			font-size: calc($index * 0.8 * $coaficent-sm);
			line-height: 1.3;
			text-align: center;
			max-width: calc($index * 27.3 * $coaficent-sm);
			margin: calc($index * 0.66 * $coaficent-sm) auto 0 auto;
		}
		@include media-breakpoint-up(sm) {
			margin-bottom: calc($index * 1 * $coaficent-md);
			h2 {
				font-size: calc($index * 1.067 * $coaficent-md);
				padding-bottom: calc($index * 0.5 * $coaficent-md);
			}
			p {
				font-size: calc($index * 0.8 * $coaficent-md);
				max-width: calc($index * 27.3 * $coaficent-md);
				margin: calc($index * 0.66 * $coaficent-md) auto 0 auto;
			}
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: calc($index * 1);
			h2 {
				font-size: calc($index * 1.067);
				padding-bottom: calc($index * 0.5);
			}
			p {
				font-size: calc($index * 0.8);
				max-width: calc($index * 27.3);
				margin: calc($index * 0.66) auto 0 auto;
			}
		}
	}
}

.button {
	display: inline-block;
	padding: calc($index * 0.5 * $coaficent-sm)
		calc($index * 1.55 * $coaficent-sm);
	white-space: nowrap;
	font-weight: 500;
	font-size: calc($index * 0.535 * $coaficent-sm);
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	color: #8e8e8e;
	background-color: $button-bg;
	text-decoration: none;
	border: none;
	appearance: none;
	user-select: none;
	transition: background-color 0.25s ease;
	@media (any-hover: hover) {
		&:hover {
			color: #8e8e8e;
			background-color: darken($button-bg, 3%);
		}
	}
	@include media-breakpoint-up(sm) {
		padding: calc($index * 0.5 * $coaficent-md)
			calc($index * 1.55 * $coaficent-md);
		font-size: calc($index * 0.535 * $coaficent-md);
	}
	@include media-breakpoint-up(lg) {
		padding: calc($index * 0.5) calc($index * 1.55);
		font-size: calc($index * 0.535);
	}
}
