.burger {
	display: block;
	width: calc($index * 1.335 * $coaficent-sm);
	height: calc($index * 1 * $coaficent-sm);	
	position: relative;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
	z-index: 100;
}

.settings-burger {
	margin-left: calc($index * .15 * $coaficent-sm);
}

.nav-burger {
	margin-right: calc($index * .15 * $coaficent-sm);
}

.burger span {
	display: block;
	position: absolute;
	height: calc($index * .1 * $coaficent-sm);
	width: 50%;
	background: #fff;
	opacity: 1;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}
@include media-breakpoint-up(sm) {
	.burger {
		width: calc($index * 1.335 * $coaficent-md);
		height: calc($index * 1 * $coaficent-md);	
	}
	
	.settings-burger {
		margin-left: calc($index * .15 * $coaficent-md);
	}
	
	.nav-burger {
		margin-right: calc($index * .15 * $coaficent-md);
	}
	
	.burger span {
		height: calc($index * .1 * $coaficent-md);
	}
}
@include media-breakpoint-up(lg) {
	.burger {
		width: calc($index * 1.335);
		height: calc($index * 1);	
	}
	
	.settings-burger {
		margin-left: calc($index * .15);
	}
	
	.nav-burger {
		margin-right: calc($index * .15);
	}
	
	.burger span {
		height: calc($index * .1);
	}
}

.burger span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}

.burger span:nth-child(odd) {
	left: 0px;
	border-radius: 9px 0 0 9px;
}

.burger span:nth-child(1),
.burger span:nth-child(2) {
	top: 0px;
}

.burger span:nth-child(3),
.burger span:nth-child(4) {
	top: 50%;
	transform: rotate(0deg) translateY(-50%);
}

.burger span:nth-child(3) {
	left: 0;
}

.burger span:nth-child(5),
.burger span:nth-child(6) {
	bottom: 0;
}

.burger._active span:nth-child(1),
.burger._active span:nth-child(6) {
	transform: rotate(45deg);
}

.burger._active span:nth-child(2),
.burger._active span:nth-child(5) {
	transform: rotate(-45deg);
}

.burger._active span:nth-child(1) {
	top: calc($index * .3668);
}

.burger._active span:nth-child(2) {
	top: calc($index * .3668);
	left: calc(36%);
}

.burger._active span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

.burger._active span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

.burger._active span:nth-child(5) {
//	top: calc($index * .7);
}

.burger._active span:nth-child(6) {
	left: calc(36%);
	//top: calc($index * .7);
}

/* / nav */
