#nav-icon {
	display: block;
	width: calc($index * 1.335);
	height: calc($index * 1);
	margin-right: calc($index * .5);
	position: relative;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
	z-index: 100;
}

#nav-icon span {
	display: block;
	position: absolute;
	height: calc($index * .1);
	width: 50%;
	background: #fff;
	opacity: 1;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
	left: 0px;
	border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
	top: 0px;
}

#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
	top: 50%;
	transform: rotate(0deg) translateY(-50%);
}

#nav-icon span:nth-child(3) {
	left: 0;
}

#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
	bottom: 0;
}

#nav-icon._active span:nth-child(1),
#nav-icon._active span:nth-child(6) {
	transform: rotate(45deg);
}

#nav-icon._active span:nth-child(2),
#nav-icon._active span:nth-child(5) {
	transform: rotate(-45deg);
}

#nav-icon._active span:nth-child(1) {
	top: calc($index * .3668);
}

#nav-icon._active span:nth-child(2) {
	top: calc($index * .3668);
	left: calc(36%);
}

#nav-icon._active span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

#nav-icon._active span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

#nav-icon._active span:nth-child(5) {
//	top: calc($index * .7);
}

#nav-icon._active span:nth-child(6) {
	left: calc(36%);
	//top: calc($index * .7);
}

/* / nav */
