.message {
	position: relative;
	padding: calc($index * 0.5) calc($index * 1);

	// .message__body

	&__body {
		//display: flex;
		//justify-content: space-around;
		width: 100%;
		height: 100%;
	}

	// .message__container

	&__container {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-rows: 1fr auto;
		column-gap: calc($index * 1.33);
		row-gap: calc($index * 0.5);
		font-size: calc($index * 0.6);
		height: 100%;
	}

	// .message__content

	&__content {
		align-self: center;
		color: rgba($white, 0.75);
		margin-bottom: calc($index * 0.33 * $coaficent-sm);
		h3 {
			font-weight: 700;
			font-size: calc($index * 0.66 * $coaficent-sm);
			line-height: 1.2;
			margin-bottom: calc($index * 0.33 * $coaficent-sm);
		}
		p {
			font-weight: 300;
			line-height: 1.2;
			font-size: calc($index * 0.53 * $coaficent-sm);
			line-height: 1.2;
			margin: 0;
		}
		span {
			display: block;
			font-weight: 700;
		}
	}

	// .message__buttons

	&__buttons {
		grid-column: 1 / 3;
		justify-self: center;
		align-self: center;
		margin-bottom: calc($index * 0.33 * $coaficent-sm);
	}

	// .message__button

	&__button {
	}

	&__track {
		grid-column: 1 / 3;
	}

	&__footer {
		grid-column: 1 / 3;
		align-self: end;
		font-weight: 500;
		font-size: calc($index * 0.53);
		line-height: 1.2;
		text-align: center;
		color: rgba($white, 0.5);
		border-top: 1px solid rgba(#d9d9d9, 0.15);
		padding-top: calc($index * 0.33);
	}

	&__link {
		color: rgba($white, 0.5);
		text-decoration: none;
		white-space: nowrap;
		transition: color 0.25s ease;
		@media (any-hover: hover) {
			&:hover {
				color: rgba($white, 0.75);
			}
		}
	}

	// .message__timer

	&__timer {
		grid-column: 1 / 3;
	}

	@include media-breakpoint-up(sm) {
		padding: calc($index * 0.5) calc($index * 1);

		// .message__container

		&__container {
			grid-template-columns: 1fr auto;
			grid-template-rows: 1fr auto;
			column-gap: calc($index * 1.33);
			row-gap: calc($index * 0.5);
			font-size: calc($index * 0.6);
		}

		// .message__content

		&__content {
			align-self: center;
			margin-bottom: calc($index * 0.33 * $coaficent-md);
			h3 {
				font-size: calc($index * 0.66 * $coaficent-md);
				margin-bottom: calc($index * 0.33 * $coaficent-md);
			}
			p {
				font-size: calc($index * 0.53 * $coaficent-md);
			}
		}

		// .message__buttons

		&__buttons {
			margin-bottom: calc($index * 0.33 * $coaficent-md);
		}

		// .message__button

		&__button {
		}

		&__track {
			//grid-column: 1 / 3;
		}

		&__footer {
			grid-column: 1 / 3;
			align-self: end;
			font-size: calc($index * 0.53 * $coaficent-md);
			padding-top: calc($index * 0.33 * $coaficent-md);
		}

		// .message__timer

		&__timer {
			grid-column: 1 / 3;
		}
	}

	@include media-breakpoint-up(lg) {
		padding: calc($index * 0.5) calc($index * 1);

		&__container {
			grid-template-columns: 1fr auto;
			grid-template-rows: 1fr auto;
			column-gap: calc($index * 1.33);
			row-gap: calc($index * 0.5);
			font-size: calc($index * 0.6);
		}

		// .message__content

		&__content {
			align-self: center;
			margin-bottom: calc($index * 0.33);
			h3 {
				font-size: calc($index * 0.66);
				margin-bottom: calc($index * 0.33);
			}
			p {
				font-size: calc($index * 0.53);
			}
		}

		// .message__buttons

		&__buttons {
			grid-column: 2 / 3;
			justify-self: stretch;
			align-self: center;
		}

		// .message__button

		&__button {
		}

		&__track {
			grid-column: 1 / 3;
		}

		&__footer {
			grid-column: 1 / 3;
			font-size: calc($index * 0.53);
			color: rgba($white, 0.5);
			padding-top: calc($index * 0.33);
		}
	}
}

.message-timer {
	display: flex;
	align-items: center;

	// .message-timer__time

	&__time {
		font-family: noto-sans-tm;
		font-weight: 300;
		font-size: calc($index * 0.6 * $coaficent-sm);
		line-height: 1.3;
		color: rgba($white, 0.75);
		margin-right: 19px;
	}

	// .message-timer__track

	&__track {
		position: relative;
		height: 2px;
		background-color: #404040;
		width: 100%;
		overflow: hidden;
		span {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background-color: #c4c4c4;
			transition: width 2s ease;
			animation: message-timer-load 10s linear;
			animation-iteration-count: 1;
			animation-delay: 1s;
			animation-fill-mode: forwards;
		}
	}

	@include media-breakpoint-up(sm) {
		&__time {
			font-size: calc($index * 0.6  * $coaficent-md);
			margin-right: calc($index * 0.66);
		}
	}
	@include media-breakpoint-up(lg) {
		&__time {
			font-size: calc($index * 0.6);
			margin-right: calc($index * 0.66);
		}
	}
}

@keyframes message-timer-load {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.assistant-message {
	max-width: calc($index * 16);
	margin: 0 auto;

	// .assistant-message__content

	&__content {
		@extend .message__content;
		grid-column: 1 / 3;
		display: flex;
		align-items: center;
		h3 {
			margin-bottom: 0;
		}
	}

	// .assistant-message__img

	&__img {
		flex: 1 0 calc($index * 4.46);
		width: calc($index * 4.46);
		height: calc($index * 4.46);
		margin-right: calc($index * 1);
		border: calc($index * 0.06) solid #424242;
		padding: calc($index * 0.23);
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	// .assistant-message__text

	&__text {
		& > *:nth-child(1) {
			margin-bottom: calc($index * 0.43);
		}
	}

	// .assistant-message__buttons

	&__buttons {
		grid-column: 1 / 3;
		margin-bottom: calc($index * 0.5);
		display: flex;
		gap: calc($index * 0.43);
	}

	// .assistant-message__button

	&__button {
		min-width: calc($index * 7.66);
		padding: calc($index * 0.5) calc($index * 0.5);
	}
}
.button {
}
