.header {
	// .header__right-navigation

	&__navigation {
	}
}
.navigation {
	position: absolute;
	right: -100%;
	top: 0;
	bottom: 0;
	width: calc($index * 10 * $coaficent-sm);
	z-index: 100;
	transition: right 0.3s ease;
	&._active {
		right: 0;
		.menu-item {
			&::after {
				width: 100%;
			}
		}
		.menu-game {
			&::after {
				width: 100%;
			}
		}
		.stores {
			margin-left: 0;
		}
	}
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: calc($index * 2.33);
		width: 100%;
		background-color: #303030;
		z-index: 100;
	}
	&__block-scroll {
		overflow-y: auto;
		height: 100%;
		padding: calc($index * 2.5 * $coaficent-sm) calc($index * 1 * $coaficent-sm)
			calc($index * 0.33 * $coaficent-sm) calc($index * 0.5 * $coaficent-sm);
	}
	&__links {
		margin-top: calc($index * 1);
	}
	@include media-breakpoint-up(sm) {
		right: -100%;
		top: 0;
		bottom: 0;
		width: calc($index * 10 * $coaficent-md);
		&::before {
			height: calc($index * 2.33 * $coaficent-md);
		}
		&__block-scroll {
			padding: calc($index * 2.5 * $coaficent-md)
				calc($index * 1 * $coaficent-md) calc($index * 0.33 * $coaficent-md)
				calc($index * 0.5 * $coaficent-md);
		}
		&__links {
			margin-top: calc($index * 1 * $coaficent-md);
		}
	}

	@include media-breakpoint-up(lg) {
		right: calc($index * 7.7 * (-1));
		top: calc($index * 0.33);
		bottom: calc($index * 0.33);
		width: calc($index * 10);
		&::before {
			height: calc($index * 2.33);
		}
		&__block-scroll {
			padding: calc($index * 2.5) calc($index * 1) calc($index * 0.33)
				calc($index * 0.5);
		}
		&__links {
			margin-top: calc($index * 1);
		}
	}
}

.menu-menu-container {
}
.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	.menu-item {
		position: relative;
		display: flex;
		align-items: flex-start;
		max-width: calc($index * 8 * $coaficent-sm);
		padding: calc($index * 0.5 * $coaficent-sm) 0;
		cursor: pointer;
		&::before {
			flex: 0 0 calc($index * 1.33 * $coaficent-sm);
			content: "";
			display: inline-block;
			width: calc($index * 1.33 * $coaficent-sm);
			height: calc($index * 1.33 * $coaficent-sm);
			border: 1px solid #fff;
			opacity: 0.25;
			margin-right: calc($index * 0.66 * $coaficent-sm);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: calc($index * 0.86 * $coaficent-sm);
			transition: opacity 0.3s ease;
		}
		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			content: "";
			width: 77%;
			height: 1px;
			background-color: rgba(#d9d9d9, 0.15);
			transition: width 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
				}
				a {
					color: rgba(#ffffff, 1);
				}
			}
		}
		&._active {
			&::before {
				opacity: 0.7;
			}
			a {
				color: rgba(#ffffff, 0.7);
			}
			@media (any-hover: hover) {
				&:hover {
					&::before {
						opacity: 1;
					}
					a {
						color: rgba(#ffffff, 1);
					}
				}
			}
		}
		a {
			font-weight: 400;
			font-size: calc($index * 0.86 * $coaficent-sm);
			line-height: 1.5;
			color: rgba(#ffffff, 0.75);
			text-decoration: none;
			text-transform: uppercase;
			user-select: none;
			transition: color 0.25s ease;
		}
		&.home {
			&::before {
				background-image: url(../images/dist/icons/home.svg);
			}
		}
		&.about-us {
			&::before {
				background-image: url(../images/dist/icons/about-us.svg);
			}
		}
		&.services {
			&::before {
				background-image: url(../images/dist/icons/services.svg);
			}
		}
		&.team {
			&::before {
				background-image: url(../images/dist/icons/team.svg);
			}
		}
		&.cases {
			&::before {
				background-image: url(../images/dist/icons/cases.svg);
			}
		}
		&.contacts {
			&::before {
				background-image: url(../images/dist/icons/contacts.svg);
			}
		}
		&.principles {
			&::before {
				background-image: url(../images/dist/icons/principles.svg);
			}
		}

		.current-menu-item {
		}
	}
	@include media-breakpoint-up(sm) {
		.menu-item {
			max-width: calc($index * 8 * $coaficent-md);
			padding: calc($index * 0.5 * $coaficent-md) 0;
			&::before {
				flex: 0 0 calc($index * 1.33 * $coaficent-md);
				width: calc($index * 1.33 * $coaficent-md);
				height: calc($index * 1.33 * $coaficent-md);
				margin-right: calc($index * 0.66 * $coaficent-md);
				background-size: calc($index * 0.86 * $coaficent-md);
			}

			a {
				font-size: calc($index * 0.86 * $coaficent-md);
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.menu-item {
			max-width: calc($index * 8);
			padding: calc($index * 0.5) 0;
			&::before {
				flex: 0 0 calc($index * 1.33);
				width: calc($index * 1.33);
				height: calc($index * 1.33);
				margin-right: calc($index * 0.66);
				background-size: calc($index * 0.86);
			}

			a {
				font-size: calc($index * 0.86);
			}
		}
	}
}

.menu-game {
	position: relative;
	padding: calc($index * 0.5 * $coaficent-sm) 0;
	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		content: "";
		width: 77%;
		height: 1px;
		background-color: rgba(#d9d9d9, 0.15);
		transition: width 0.3s ease;
	}

	// .menu-game__title

	&__title {
		display: flex;
		align-items: flex-start;
		margin-bottom: calc($index * 0.5 * $coaficent-sm);
		font-weight: 400;
		font-size: calc($index * 0.86 * $coaficent-sm);
		line-height: 1.5;
		color: rgba(#ffffff, 0.75);
		text-transform: uppercase;
		user-select: none;
		transition: color 0.25s ease;

		&::before {
			flex: 0 0 calc($index * 1.33 * $coaficent-sm);
			content: "";
			display: inline-block;
			width: calc($index * 1.33 * $coaficent-sm);
			height: calc($index * 1.33 * $coaficent-sm);
			border: 1px solid #fff;
			opacity: 0.25;
			margin-right: calc($index * 0.66 * $coaficent-sm);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: calc($index * 0.86 * $coaficent-sm);
			background-image: url(../images/dist/icons/game.svg);
			transition: opacity 0.3s ease;
		}
	}

	// .menu-game__items

	&__items {
		margin: 0;
		max-width: calc($index * 8 * $coaficent-sm);
		list-style: none;
		padding-left: calc($index * 2.33 * $coaficent-sm);
	}

	// .menu-game__item

	&__item {
		padding: 0;
		border-bottom: none;
		font-size: calc($index * 0.53 * $coaficent-sm);
		line-height: 1.3;
		&:not(:last-child) {
			margin-bottom: calc($index * 0.3 * $coaficent-sm);
		}
		a {
			font-weight: 500;
			font-size: calc($index * 0.53 * $coaficent-sm);
			line-height: 1.2;
			color: rgba(#d9d9d9, 0.5);
			text-decoration: none;
			text-transform: uppercase;

			user-select: none;
			transition: color 0.25s ease;
			@media (any-hover: hover) {
				&:hover {
					color: rgba(#ffffff, 1);
				}
			}
		}
		&._active {
			a {
				color: rgba(#ffffff, 1);
			}
		}
	}
	@include media-breakpoint-up(sm) {
		padding: calc($index * 0.5 * $coaficent-md) 0;
		&__title {
			margin-bottom: calc($index * 0.5 * $coaficent-md);
			font-size: calc($index * 0.86 * $coaficent-md);
			&::before {
				flex: 0 0 calc($index * 1.33 * $coaficent-md);
				width: calc($index * 1.33 * $coaficent-md);
				height: calc($index * 1.33 * $coaficent-md);
				margin-right: calc($index * 0.66 * $coaficent-md);
				background-size: calc($index * 0.86 * $coaficent-md);
			}
		}

		// .menu-game__items

		&__items {
			max-width: calc($index * 8 * $coaficent-md);
			padding-left: calc($index * 2.33 * $coaficent-md);
		}

		// .menu-game__item

		&__item {
			font-size: calc($index * 0.53 * $coaficent-md);
			&:not(:last-child) {
				margin-bottom: calc($index * 0.3 * $coaficent-md);
			}
			a {
				font-size: calc($index * 0.53 * $coaficent-md);
			}
		}
	}
	@include media-breakpoint-up(lg) {
		padding: calc($index * 0.5) 0;
		&__title {
			margin-bottom: calc($index * 0.5);
			font-size: calc($index * 0.86);
			&::before {
				flex: 0 0 calc($index * 1.33);
				width: calc($index * 1.33);
				height: calc($index * 1.33);
				margin-right: calc($index * 0.66);
				background-size: calc($index * 0.86);
			}
		}

		// .menu-game__items

		&__items {
			max-width: calc($index * 8);
			padding-left: calc($index * 2.33);
		}

		// .menu-game__item

		&__item {
			font-size: calc($index * 0.53);
			&:not(:last-child) {
				margin-bottom: calc($index * 0.3);
			}
			a {
				font-size: calc($index * 0.53);
			}
		}
	}
}

.stores {
	margin-left: calc($index * 2 * $coaficent-sm);
	transition: margin-left 0.3s ease;
	// .stores__link

	&__link {
		display: block;
		max-width: calc($index * 4.86 * $coaficent-sm);
		background: #000000;
		opacity: 0.7;
		border-radius: 3px;
		overflow: hidden;
		user-select: none;
		transition: opacity 0.3s ease;
		&:not(:last-child) {
			margin-bottom: calc($index * 0.46 * $coaficent-sm);
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
			}
		}
		img {
			display: block;
			width: 100%;
		}
	}
	@include media-breakpoint-up(sm) {
		margin-left: calc($index * 2 * $coaficent-md);
		&__link {
			max-width: calc($index * 4.86 * $coaficent-md);
			&:not(:last-child) {
				margin-bottom: calc($index * 0.46 * $coaficent-md);
			}
		}
	}
	@include media-breakpoint-up(lg) {
		margin-left: calc($index * 2);
		&__link {
			max-width: calc($index * 4.86);
			&:not(:last-child) {
				margin-bottom: calc($index * 0.46);
			}
		}
	}
}
